@import 'setup';

$title-font: 'Pacifico', cursive;
$menu-font: 'Raleway', sans-serif;
$primary-color: #f9a825;

@function remCalc($fontSize) {
    @return ($fontSize / 16) * 1rem; // nts: logic behind it: the base font in browswer is 16px divide pixel value by 16 and multiply by 1rem, value imported in remCalc will be calculated into rem value
}


@keyframes picture {
    from {
        background-position: 0 -1000px;
    }

    to {
        background-position: 0 2000px;
    }
}

span {
    font-weight: bold;
}

.back-button {
    font-size: remCalc(20);
    background: $primary-color;
    border-radius: 50%;
    padding: 7px 10px;
    color: white;
    border: none;
    cursor: pointer;
}
.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/main-background.jpg') repeat bottom;
    background-size:  cover;
    animation: picture 50s linear infinite;
    position: relative;
    .back-button {
        position: absolute;
        left: 5%;
        top: 20px;
    }
    .main-wrapper {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255,255,255,0.8);
        // position: relative;
        h2 {
            font-size: remCalc(90);
            font-family: $title-font;
            margin-bottom: 50px;
        }
        button {
            background: rgba(255, 255, 255, 0.8);
            padding: 15px 30px;
            font-size: remCalc(25);
            margin-bottom: 20px;
            font-family: $title-font;
            border-radius: 20px;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 0.7);
            cursor: pointer;
            // position: absolute;
            // right: 0;
        }
    }
}

.menu {
    background: white;
    .menu-wrapper {
        width: 80%;
        margin: 0 auto;
        padding: 50px 0;
        position: relative;
        h1 {
            text-align: center;
            font-size: remCalc(70);
            font-family: $title-font;
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        .menu-items {
            display: flex;
            flex-wrap: wrap;
            // flex-direction: row;
            // justify-content: space-around;
            text-align: center;
            // width: 50%;
            font-family: $menu-font;
            text-transform: capitalize;
            li {
                width: 34%;
                padding: 30px 40px;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                border: 1px solid $primary-color;
                margin-right: 20px;
                

                .menu-item {
                    display: flex;
                    padding: 10px 10px;
                    flex-direction: column;
                    
                    // text-align: center;
                    justify-content: space-between;
                    // margin-bottom: 20px;
                    font-size: remCalc(18);
                    // width: 50%;
                    p {
                        margin-bottom: 10px;
                        font-weight: bold;
                    }
                    .price {
                        color: $primary-color;
                        margin: 0;
                    }
                }
                .add-to-order {
                    font-size: remCalc(35);
                    background: $primary-color;
                    cursor: pointer;
                    padding: 0 10px;
                    border-radius: 50%;
                    color: white;
                    margin-top: 10px;
                }

            }
        }
        .my-order {
            position: fixed;
            width: 20%;
            right: 10%;
            top: 25%;
            font-family: $menu-font;
            display: flex;
            // margin-bottom: 20px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            text-transform: capitalize;
            input {
                width: 70%;
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid $primary-color;
            }
            .total {
                margin-top: 20px;
            }
            .my-order-text {
                margin-bottom: 10px;
            }
            .checkout {
                font-family: $title-font;
                text-transform: capitalize;
                margin-top: 20px;
                background: $primary-color;
                font-size: remCalc(18);
                border-radius: 30px;
                color: white;
                padding: 7px 20px;
                cursor: pointer;
            }
        }
    }
    .order-conf {
        width: 100%;
        margin: 0 auto;
        padding: 50px 0;
        font-family: $menu-font;
        h2 {
            font-size: remCalc(40);
            text-transform: capitalize;
            font-family: $menu-font;
            margin-bottom: 20px;
        }
        .conf-num {
            margin-bottom: 10px;
        }
    }
}

.orders {
    background: white;
    height: 100vh;
    h1 {
        text-align: center;
        font-size: remCalc(70);
        font-family: $title-font;
        text-transform: uppercase;
        margin: 50px 0 20px 0;
    }
    .orders-wrapper {
        width: 80%;
        margin: 0 auto;
        padding: 50px 0;  
        display: flex;
        flex-wrap: wrap;
        
        .order-list {
            display: flex;
            justify-content: space-between;
            text-align: center;
            flex-wrap: wrap;
            // margin-bottom: 10px;
            // margin-right: 10px;
            width: 33.33%;
            // margin-right: 300px;
            // height: 100%;
            .order {
                font-family: $menu-font;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                position: relative;
                // margin-bottom: 20px;
                // margin-top: 20px;
                border: 1px solid #f9a825;
                padding: 20px 20px;
                .order-num {
                    position: absolute;
                    left: 5px;
                    top: 0;
                    font-size: remCalc(28);
                    color: #f9a825;
                    font-weight: bold;
                    // align-self: left;
                }
                .order-name {
                    margin-bottom: 20px;
                }
                p {
                    margin-bottom: 10px;
                }
                .order-food-list {
                    display: flex;
                    flex-wrap: wrap;
                    font-size: remCalc(12);
                    justify-content: space-between;
                    margin-bottom: 30px;
                    
                    div {
                        width: 45%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .order-total {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                }
            }
        }
    }
}




